<main>
  <div class="container w-80">
    <h2 class="fw-bold pb-5">Help this pet</h2>
      <div class="row">
        <div class="col-12">
          <%= simple_form_for [@pet, @tag_reading] do |f| %>
            <%= f.input :message %>
            <div data-controller="geolocation">
              <%= f.input :user_consent, as: :boolean, label: "Share Location?", input_html: { data: { target: "checkbox",
                                                                                 action: "change->geolocation#shareLocation" }}%>
              <div class="d-none">
                <%= f.input :lat, input_html: { data:  { "geolocation-target": "lat"}} %>
                <%= f.input :lng, input_html: { data:  { "geolocation-target": "lng"}} %>
              </div>
            </div>
            <div class="text-center">
                <%= f.button :submit, 'Help this pet', class: "btn btn-primary btn-md btn-block"%>
                <%= link_to "cancel", pets_path(@pet), class: "btn btn-link btn-sm btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</main>
