<main class="py-5">
  <div class="container w-80">
    <h2 class="fw-bold pb-5">Add a new pet</h2>
      <div class="row">
        <div class="col-12">
          <%= simple_form_for [@pet] do |f| %>
            <%= f.input :pet_type %>
            <%= f.input :photo, as: :file %>
            <%= f.input :name %>
            <%= f.input :gender %>
            <%= f.input :birthdate, as: :date, html5: true %>
            <%= f.input :spayed %>
            <%= f.input :additional_info %>
            <%= f.input :lost %>

            <div class="py-3">
              <%= f.button :submit, class: "btn btn-outline-primary mt-3"%>
              <%= link_to 'Cancel', pet_path(@pet), class:"btn btn-outline-danger mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</main>
