<main class="py-5">
  <div class="container w-80">
    <h2 class="fw-bold pb-5">Add a new pet</h2>
      <div class="row">
        <div class="col-12">
          <%= simple_form_for [@pet] do |f| %>
            <%= f.input :pet_type %>
            <%= f.input :photo, as: :file %>
            <%= f.input :name %>
            <%= f.input :gender, as: :radio_buttons, collection: ['Male', 'Female'] %>
            <%= f.input :birthdate %>
            <%= f.input :spayed %>
            <%= f.input :additional_info %>
            <%= f.input :lost %>
            <div class="text-center">
              <div class="btn-group-vertical">
                <%= f.button :submit, 'Add pet', class: "btn btn-primary btn-md btn-block mt-3"%>
                <%= link_to "cancel", pets_path(current_user), class: "btn btn-outline-danger mt-3" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</main>
