<div class="persona--template">

  <div class="persona--template__image"
       style="<%= @user.photo.attached? ? background_image(cloudinary: true, url: @user.photo.key): background_image %>">

    <% if current_user == @user %>
      <div class="settings--bar py-4 light sticky-top">
        <div class="settings--bar__container row justify-content-between">
            <div class="col-1">
              <%= link_to pets_path, class:"text-reset" do %>
                <i class="fas fa-arrow-left"></i>
              <% end %>
            </div>
            <div class="col-1">
              <div class="dropdown dropdown--icon">
                <i class="fas fa-ellipsis-v avatar dropdown-toggle" id="changeThisId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </i>

                <div class="dropdown-menu dropdown-menu-end py-3" aria-labelledby="changeThisId">
                  <p>
                    <%= link_to edit_user_registration_path(@user), class: 'text-reset mx-2 text-decoration-none' do %>
                      <i class="fas fa-edit"></i> Edit profile
                    <% end %>
                  </p>

                  <p>
                    <%= link_to user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'text-reset mx-2 text-decoration-none' do %>
                      <i class="fas fa-trash-alt"></i> Delete account
                    <% end %>
                  </p>

                  <p>
                    <%= link_to destroy_user_session_path, method: :delete, class: 'text-reset mx-2 text-decoration-none' do %>
                      <i class="fas fa-sign-out-alt"></i> Logout
                    <% end %>
                  </p>
                </div>

              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="persona--template__content py-5">
    <div class="container w-80">
      <h2 class="fw-bold py-3"><%= @user.first_name %> <%= @user.last_name %></h2>

      <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
           <div class="info--group py-3">
            <p class="info--group__label fw-bold">Email</p>
            <p class="info--group__content"><%= @user.email %></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="info--group py-3">
            <p class="info--group__label fw-bold">Address</p>
            <p class="info--group__content"><%= @user.address %></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="info--group py-3">
            <p class="info--group__label fw-bold">Phone</p>
            <p class="info--group__content"><%= @user.phone %></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <div class="info--group py-3">
            <p class="info--group__label fw-bold">Birthdate</p>
            <p class="info--group__content"><%= @user.birthdate %></p>
          </div>
        </div>
        <div class="col-12">
          <div class="info--group py-3">
            <p class="info--group__label fw-bold">Nickname</p>
            <p class="info--group__content"><%= @user.nickname %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
