<nav class="fixed-bottom navbar--bottom" data-controller="count-notifications-channel"
  data-count-notifications-channel-user-id-value="<%= current_user.id %>">
  <div class="container">
    <div class="row">

      <div class="col-4">
        <div class="navbar--button py-3 text-center">
          <%= link_to pets_path, class:'text-reset text-decoration-none' do %>
            <div class="navbar--icon">
              <i class="fas fa-cat"></i>
            </div>
            <div class="navbar--label">
              Pets
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="navbar--button py-3 text-center" >
          <%= link_to notifications_path, class: 'text-reset text-decoration-none' do%>
            <div class="navbar--icon" data-count-notifications-channel-target="counter" >

              <%= render "shared/notifications_navbar", counter: current_user.notifications.unread.length %>

            </div>
            <div class="navbar--label">
              Notifications
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-4">
        <div class="navbar--button py-3 text-center">
          <%= link_to user_path(current_user), class: 'text-reset text-decoration-none' do %>
            <div class="navbar--icon">
              <i class="fas fa-user"></i>
            </div>
            <div class="navbar--label">
              Profile
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</nav>
