<header class="banner" style="background-color: #045A7C;">
  <div class="container pb-3">
    <div class="logo--image py-2 row justify-content-between">
      <img src="<%= asset_path('heresmypet_logo_inverted.svg') %>" class="col-4 col-md-6 col-lg-1 logo-size" alt="">
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-login text-white col-4 col-md-3 col-lg-1' %>
    </div>

    <div class="header--content py-2 my-3 text-white text-center">
      <h2 class="fw-bold"><strong>We help you protect your pet</strong></h2>

      <p class="pt-2">HMP presents a free solution to help all pet owners to find their loved companions <br> Join us today!</p>

      <%= link_to 'Start for free', new_user_registration_path, class: 'btn btn-banner' %>
    </div>
  </div>
</header>

<div class="container mt-5">
  <div class="row justify-content-between m-1 p-2">
  <div class="col-2 p-3 mx-1 my-2 landing-card">
  <%= render 'landing_cards', path: 'pet_profile.svg',
                                            title: 'CREATE A PET PROFILE',
                                            explanation: 'Set up a nice photo of your best friend and all the relevant information' %>

  </div>
  <div class="col-2 p-3 mx-2 my-2 landing-card">
  <%= render 'landing_cards', path: 'leash_tag.svg', title: 'SET A TAG',
                                            explanation: "Print your pet's QR code and stick it on your pet's leash"%>
  </div>
  <div class="col-2 p-3 mx-1 my-2 landing-card">
  <%= render 'landing_cards', path: 'pet_location.svg', title: 'YOUR PET IDENTIFIED',
                                            explanation: "Scanning your pet's code shows their profile"%>
  </div>
  <div class="col-2 p-3 mx-1 my-2 landing-card">
  <%= render 'landing_cards', path: 'pet_found.svg', title: 'FIND YOUR PET LOCATION',
                                            explanation: "The person who found your pet can send you your pet's location and a message"%>
  </div>
  </div>
</div>
