
  <div class="container">
    <h2> Hi <%= @pet.user.first_name %> </h2>
      <h3> Somebody may have found <%= @pet.name %>! </h3>
      <p> <%= @tag_reading.created_at.strftime("%m/%d/%Y at %I:%M%p") %> </p>
        <p style="font-size:25px"> <%= @tag_reading.message %> </p>
        <div>
        <a href="<%= URI.join(root_url, pet_tag_reading_url(pet_id: @pet.id, id: @tag_reading.id).to_s) %>"style="font-size: 25px">See details</a>
        </div>
  </div>
