<!DOCTYPE html>
<html>
  <head>
    <title>HeresMyPet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'favicon-96x96.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page--container">
      <%# <%= render_navbar %>

      <%= yield %>

      <%= render 'shared/flashes' %>
    </div>
  </body>
</html>
