<!DOCTYPE html>
<html>
  <head>
    <title>HeresMyPet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="manifest" href="/manifest.json">

    <meta property="og:image" content="<%="https://www.heresmy.pet#{asset_path('heres_my_pet_og_banner.jpeg')}"%>" />
    <meta property="og:site_name" content="Here's my pet"
    <meta property="og:description" content="Identify your pet without spending too much."

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'favicon-96x96.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page--container">

      <%= yield %>

      <%= render_navbar %>
      <%= render 'shared/flashes' %>
    </div>
  </body>
</html>
